<%- model_class = MaternityAssistance -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:startDate) %></th>
      <th><%= model_class.human_attribute_name(:endDate) %></th>
      <th><%= model_class.human_attribute_name(:mother_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @maternity_assistances.each do |maternity_assistance| %>
      <tr>
        <td><%= link_to maternity_assistance.id, maternity_assistance_path(maternity_assistance) %></td>
        <td><%= maternity_assistance.startDate %></td>
        <td><%= maternity_assistance.endDate %></td>
        <td><%= maternity_assistance.mother_id %></td>
        <td><%=l maternity_assistance.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_maternity_assistance_path(maternity_assistance), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      maternity_assistance_path(maternity_assistance),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_maternity_assistance_path,
            :class => 'btn btn-primary' %>
