<%- model_class = Child -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 2%">ID</th>
      <th style="width: 20%">Nome</th>
      <th style="width: 10%">Data de Nascimento</th>
      <th style="width: 20%">Nome Mãe</th>
      <th style="width: 5%">Turma</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th style="width: 15%; text-align: center">Ações</th>



    </tr>
  </thead>
  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td><%= link_to child.id, child_path(child) %></td>
        <td><%= child.nameChild %></td>
        <td><%= child.birthDateChild %></td>
        <td><%= child.mother.nameMother %></td>
        <td><%= child.team.descriptionTeam%></td>
        <td><%=l child.created_at, :format => :short %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_child_path(child), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      child_path(child),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_child_path,
            :class => 'btn btn-primary' %>
