<%- model_class = Mother -%>
<div class="page-header">
  <h1><%=t '.Mãe' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 2%">ID</th>
      <th style="width: 21%">Nome</th>
      <th style="width: 10%">Profissão</th>
      <th style="width: 22%">Endereço</th>
      <th style="width: 15%">Telefone</th>
      <th style="width: 15%; text-align: center">Criado em</th>
      <th style="width: 15%; text-align: center">Ações</th>

    </tr>
  </thead>
  <tbody>
    <% @mothers.each do |mother| %>
      <tr>
        <td><%= link_to mother.id, mother_path(mother) %></td>
        <td><%= mother.nameMother %></td>
        <td><%= mother.occupationMother %></td>

        <td><%= mother.addressMother %></td>

        <td><%= mother.telephoneMother %></td>


        <td><%=l mother.created_at, :format => :short %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_mother_path(mother), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      mother_path(mother),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_mother_path,
            :class => 'btn btn-success' %>
