<%- model_class = Mother -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nameMother) %>:</strong></dt>
  <dd><%= @mother.nameMother %></dd>
  <dt><strong><%= model_class.human_attribute_name(:occupationMother) %>:</strong></dt>
  <dd><%= @mother.occupationMother %></dd>
  <dt><strong><%= model_class.human_attribute_name(:maternityLeaveMother) %>:</strong></dt>
  <dd><%= @mother.maternityLeaveMother %></dd>
  <dt><strong><%= model_class.human_attribute_name(:addressMother) %>:</strong></dt>
  <dd><%= @mother.addressMother %></dd>
  <dt><strong><%= model_class.human_attribute_name(:neighborhood_id) %>:</strong></dt>
  <dd><%= @mother.neighborhood_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telephoneMother) %>:</strong></dt>
  <dd><%= @mother.telephoneMother %></dd>
  <dt><strong><%= model_class.human_attribute_name(:salaryMother) %>:</strong></dt>
  <dd><%= @mother.salaryMother %></dd>
  <dt><strong><%= model_class.human_attribute_name(:salaryFamilyMother) %>:</strong></dt>
  <dd><%= @mother.salaryFamilyMother %></dd>
  <dt><strong><%= model_class.human_attribute_name(:familyPurseMother) %>:</strong></dt>
  <dd><%= @mother.familyPurseMother %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amountPeopleFamilyMother) %>:</strong></dt>
  <dd><%= @mother.amountPeopleFamilyMother %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              mothers_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_mother_path(@mother), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              mother_path(@mother),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) },
              :class => 'btn btn-danger' %>
